@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-background: #fff;
    --color-default: #111111;
    --color-effect: #FBDFDB;
    --color-presentation_back: #FBDFDB;
}

.page {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
    color: var(--color-default);
    width: 80%;
    margin: 1em auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
}

nav a {
    padding-right: 1.5em;
    color: var(--color-default);
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: var(--color-effect);
}

.presentation {
    position: relative;
    background-color: var(--color-presentation_back);
    height: 366px;
    border-radius: 30px;
    padding: 0.5em 1em 0;
    margin: 10px 0 3%;
}

.presentation__content {
    text-align: justify;
    max-width: 316px;
    padding: 10% 5%;
}

.presentation__content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1%;
    line-height: 38px;
}

.presentation__content p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.presentation__img {
    position: absolute;
    bottom: 0;
    right: 7%;
}

.visited h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0.5em;
    width: 100%;
    position: relative;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75em;
}

.gallery__item img {
    width: 100%;
    border-radius: 15px;
}

.gallery__item-content h4{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 1.8% 0 0.5%;
}

.gallery__item-content p {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #EEE;
    color: #999999;
    margin-top: 5%;
    width: 100%;
}

/* === ABOUT.html */

article {
    margin-top: 50px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1.5%;
}

article p {
    font-size: 18px;
    color: #444444;
    line-height: #444;
    margin-bottom: 3%;
    max-width: 940px;
}

article h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 3% 0;
}