{% extends 'layout.njk' %}
    
    {% block content %}

        <main>
            <section class="presentation">
                <div class="presentation__content">
                    <h2>As Melhores Receitas</h2>
                    <p>Aprendar a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="presentation__img">
                    <img src="/chef.png" alt="Chef de Cozinha">
                </div>
            </section>
            <section class="visited">
                <!-- <div class="title"> -->
                    <h3>Mais Acessadas</h3>
                <!-- </div> -->
                <div class="gallery">
                    {% for recipe in recipes %}
                        <article class="gallery__item">
                            <div class="gallery__item-img">
                                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                            </div>
                            <div class="gallery__item-content">
                                <h4>{{recipe.title}}</h4>
                                <p>{{recipe.author}}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>
        </main>
    {% endblock content %}
