{% extends 'layout.njk' %}

            {% block nav %}
                <nav>
                    <a href="/about">Sobre</a>
                    <a href="/recipe"><strong>Receitas</strong></a>
                </nav>
            {% endblock nav %}
    
    {% block content %}
        <main> 
            <section class="visited">
             
                <div class="gallery">
                {% for recipe in recipes %}
                    <article class="gallery__item" id="{{loop.index-1}}">
                        <div class="gallery__item-img">
                            <img src="{{recipe.image}}" alt="{{recipe.title}}">
                        </div>
                        <div class="gallery__item-content">
                            <h4>{{recipe.title}}</h4>
                            <p>{{recipe.author}}</p>
                        </div>
                    </article>
                {% endfor %}
                </div>
            </section>
        </main>
        <script src="/script.js"></script>
    {% endblock content %}