{% extends 'layout.njk' %}
    
    {% block content %}

        <main>
            <div class="banner">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                <h1>{{recipe.title}}</h1>
                <p>{{recipe.author}}</p>
            </div>
            
            <div class="details">
                <article class="detail">
                    <div class="detail__head">
                        <h2>Ingredientes</h2>
                        <span id="btn-ingredient"> Mostrar </span>
                    </div>
                    <div class="detail__content offVisible" id="ingredient">
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </div>
            
            <div class="details">
                <article class="detail">
                    <div class="detail__head">
                        <h2>Modo de preparo</h2>
                        <span id="btn-preparation"> Mostrar </span>
                    </div>
                    <div class="detail__content offVisible" id="preparation">
                        <p>{{recipe.preparation}}</p>
                    </div>
                </article>
            </div>

            <div class="details">
                <article class="detail">
                    <div class="detail__head">
                        <h2>Informações adicionais</h2>
                        <span id="btn-information"> Mostrar </span>
                    </div>
                    <div class="detail__content offVisible" id="information">
                        <p>{{recipe.information}}</p>
                    </div>
                </article>
            </div>
                    
        </main>
        <script src="/span.js"></script>
    {% endblock content %}