{% extends 'layout.njk' %}
    
    {% block content %}

        <main>
            <div class="">
                <img src="" alt="">
                <h1></h1>
                <p></p>
            </div>
            <article>
                <h2>Ingredientes</h2>
                <ul>
                    {# lista de ingredientes #}
                </ul>

                <h2>Modo de preparo</h2>
                <p></p>

                <h2>Informações adicionais</h2>
                <p></p>

            </article>
        </main>
    {% endblock content %}